@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    --lighterBackground: linear-gradient(159deg, rgb(45,45,58) 0%, rgb(43, 43, 53) 100%);
    --background: #051923;
}

body{
    width: 100%;
    background: var(--background);
    color: #0582CA;
}
